@{
	ViewData["Title"] = "Create Post";
}

<form class="small-form mx-auto" method="post">
	<h2 class="py-3">Create Post</h2>
	<div class="form-floating mt-3">
		<input type="text" class="form-control" id="title" name="title" placeholder="Title">
		<label for="title">Title</label>
	</div>
	<div class="form-floating mt-3">
		<input type="text" class="form-control" id="body" name="body" placeholder="Body">
		<label for="body">Body</label>
	</div>

	<button class="mt-3 w-100 py-2 btn btn-primary float-end">Create</button>
</form>
